<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="PawcketDoc"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRUD_prac">
        <activity
            android:name=".ui.MedicationFormFragment"
            android:exported="false" />
        <activity
            android:name=".ui.MedicalFormFragment"
            android:exported="false" />
        <activity
            android:name=".ui.AppointmentFormFragment"
            android:exported="false"
            android:theme="@style/Theme.CRUD_prac" />
        <activity
            android:name=".ui.VaccinationFormFragment"
            android:exported="false" />
        <activity
            android:name=".ui.PetFormActivityFragment"
            android:exported="false" />
        <activity
            android:name=".ui.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PetTrackr.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>